/* =================================
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #222;
  background: #f6f7f7;
  /*background-size: cover;*/
  padding-top: 145px;
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color .4s;
}

input ~ input {
  margin-left: 5px;
}

input:focus {
  border-color: #c1c1c1;
}

button {
  width: 40px;
  height: 35px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}

/* =================================
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.main-title:before {
  font-family: 'Material Icons';
  content: "\E030";
  vertical-align: middle;
  font-size: 1.5em;
}

.search-form input:last-of-type {
  margin-right: -40px;
}
.search-form input:nth-of-type(1) {
  width: 65%;
}
.search-form input:nth-of-type(2) {
  width: 35%;
}
.search-form input:only-of-type {
  width: 100%;
  padding-right: 35px;
}

.search-button {
  float: right;
  margin-right: -10px;
}

.icn-search {
  font-weight: 700;
}

.icon-help,
.icn-album {
  font-size: 6em;
  margin-bottom: 12px;
  color: #dfdfdf;
  display: block;
}

/* album LIST COMPONENTS -------- */

.no-albums,
.desc  {
  color: #b0b0b0;
  height: 140px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.25em;
}

.album-list li {
  margin: 1.925em 0 0;
}

.album-list a {
  display: block;
  margin: auto;
}

.album-title {
  display: block;
  font-size: 1.1em;
  line-height: 1.2;
  color: #000;
  font-weight: 500;
}

.album-year {
  color: #9d9d9d;
}

.album-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.-placeholder {
  color: #dadada;
  font-size: 5em;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* =================================
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
}

/* =================================
  Helper Classes
==================================== */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* ==============================
   vv Added CSS vv
=================================*/

.infoDiv{
  font-size: 0.75em;
  width: 100%;
  z-index: 100;
  position: relative;
}
.infoDiv-list {
  width: 45%;
  min-width: 300px;
}
#info-albumArt {
    overflow: hidden;
    border: 10px solid white;
    width: 35%;
    min-width: 300px;
}
/*#search-results::before {
  content: url('../img/left_arrow.svg');
}*/
#arrow-svg svg {
    fill: #b3b3b3;
}
.float{
  float: left;
  width: 100%;
  margin: 15px;
}
.albumName {
  color: #fff;
}
.album-year{
  color: #fff;
}
/* #grey  {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background: #545454;
  min-height: 37%;
  z-index: -1000;
} */
.grey  {
  position: absolute;
  top: -110px;
  left: -20%;
  width: 150%;
  background: #545454;
  height: 310px;
  z-index: -1000;
}
 ul,
 ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
 }
 .bandName,
  #search-results {
  color: #b3b3b3;
 }
 .album-title:hover,
 #search-results:hover {
  color: #ff99aa;
 } 
 #search-results {
  text-align: left;
  font-size: 1em;
 }
 .bandName {
  margin-top:0px;
  text-align: left;
 }
 .albumName {
  margin-bottom: 0px;
 }
 .tracks {
  padding-top: 30px;
 }
.bold {
  font-weight: bold;
}
/* ==============================
   ^^ Added CSS ^^
=================================*/

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 780px) {
  .album-list li {
    text-align: center;
  }
  .albumName {
  color: #b3b3b3;
}
.album-year{
  color: #b3b3b3;
}

}

@media (min-width: 550px) {

  .album-list li {
    float: left;
    width: 50%;
  }

  .album-list .desc {
    width: 100%;
    float: none;
  }

  .album-wrap {
    height: 250px;
    border: 1px solid white;
    overflow: hidden;
  }

  .album-art {
    width: 100%;
    min-height: 100%;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
  }

  .album-wrap:hover .album-art {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

}

@media (min-width: 769px) {
  body {
    padding-top: 115px;
  }

  .main-title {
    float: left;
  }

  .search-form {
    width: 422px;
    float: right;
    margin-top: 34px;
  }

  .album-list li {
    width: 33.333333333%;
  }
  .float{
  float: left;
  width: 45%;
}
}

@media (min-width: 769px) and (max-width: 999px) {
  .album-list li:nth-of-type(3n+1) {
    clear: left;
  }
}

@media (min-width: 1000px) {
  .album-list li {
    width: 25%;
  }

  .album-list li:nth-of-type(4n+1) {
    clear: left;
  }
}
